<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import {useTicketStore} from '../stores/ticket'
const useTicket = useTicketStore()
</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img src="https://www.cinema.com.my/images/movies/2011/7doraemon201000_450.jpg" height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Doraemon Movie: Nobita's Mermaid Legend</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        28 July 2010
                                        <div>
                                            Doraemon Movie: Nobita's Mermaid Legend
                                        </div>
                                        <v-chip class="ma-2">อนิเมชั่น</v-chip>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">ตลก</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"120 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m3time" @click="useTicket.ticketName('Doraemon Movie: Nobitas Mermaid Legend'), useTicket.ticketDate('FRI 28 JUL')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    Doraemon, Nobita, and their Friends must aid Sophia to find a legendary Sword that might
                                    bring
                                    peace
                                    once again to the Seas.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/3vwnQViXKuw" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar
                                    image="https://www.danslesalpesavecannette.com/images_staff/kusuba_kozo.png"
                                    size="60"></v-avatar>
                                    Kôzô Kusuba
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>