<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import {useTicketStore} from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img
                        src="https://media.webmagazine24.it/wp-content/uploads/2023/06/09151259/Transformers-rise-of-the-beats-e1686316432150-865x1024.jpg"
                        height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>ทรานส์ฟอร์เมอร์ส : กำเนิดจักรกลอสูร</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        07 June 2023
                                        <div>
                                            ทรานส์ฟอร์เมอร์ส : กำเนิดจักรกลอสูร
                                        </div>
                                        <v-chip class="ma-2">แอ็คชัน</v-chip>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">วิทยาศาสตร์</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"126 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time" @click="useTicket.ticketName('Transformers: rise of the beasts'), useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    During the '90s, a new faction of Transformers - the Maximals - join the Autobots as
                                    allies in the battle for
                                    Earth.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/itnqEauWQZM" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar
                                    image="https://www.hollywoodreporter.com/wp-content/uploads/2023/06/GettyImages-1496222457.jpg?w=1296&h=730&crop=1"
                                    size="60"></v-avatar>
                                Steven Caple Jr.
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<style scoped></style>